<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="applicable-device" content="pc,mobile" />
    <link rel="stylesheet" href="../css/friend.css">
    <title>朋友</title>
</head>

<body>
    <div class="whole-bg">
        <div class="blankbar"></div>
        <div class="top-bar">
            <a href="">朋友</a>
            <dl>
                <dd>
                    <a href=""><img src="../img/2017-10-10_092206.jpg" alt="搜索按钮" class="img1"></a>
                </dd>
                <dd>
                    <a href=""><img src="../img/index-top_05.png" alt="联系人" class="img2"></a>
                </dd>
                <dd>
                    <a href=""><img src="../img/index-top_07.png" alt="添加好友" class="img3"></a>
                </dd>
            </dl>
        </div>
        <div class="content">
            <ul>
                <li>
                    <img src="../img/friend_03.png" alt="">
                    <div class="right">
                        <div class="right-top">
                            <span>支付助手</span>
                            <p>08:11</p>
                        </div>
                        <div class="right-bottom">
                            <span>付款成功</span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../img/friend_06.png" alt="">
                    <div class="right">
                        <div class="right-top">
                            <span>消息中心</span>
                            <p>08:10</p>
                        </div>
                        <div class="right-bottom">
                            <span>蚂蚁会员刮刮卡</span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../img/friend_08.png" alt="">
                    <div class="right">
                        <div class="right-top">
                            <span>生活号</span>
                            <p>00:00</p>
                        </div>
                        <div class="right-bottom">
                            <span>当当网：《javascript高级编程第三版》</span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../img/friend_10.png" alt="">
                    <div class="right">
                        <div class="right-top">
                            <span>手机充值</span>
                            <p>6:30</p>
                        </div>
                        <div class="right-bottom">
                            <span>双节送福利</span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../img/friend_12.png" alt="">
                    <div class="right">
                        <div class="right-top">
                            <span>可能认识的人</span>
                            <p></p>
                        </div>
                        <div class="right-bottom">
                            <span>你有新的朋友推荐</span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../img/friend_14.png" alt="">
                    <div class="right">
                        <div class="right-top">
                            <span>紫霄</span>
                            <p>9.24</p>
                        </div>
                        <div class="right-bottom">
                            <span>你已经添加了紫霄，现在可以聊天了。</span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../img/friend_16.png" alt="">
                    <div class="right">
                        <div class="right-top">
                            <span>杉杉杉杉杉杉</span>
                            <p>9.24</p>
                        </div>
                        <div class="right-bottom">
                            <span>付款成功</span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../img/friend_18.png" alt="">
                    <div class="right">
                        <div class="right-top">
                            <span>吱声团队</span>
                            <p>9.12</p>
                        </div>
                        <div class="right-bottom">
                            <span>公告：支付宝群聊，谁建谁负责</span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../img/friend_20.png" alt="">
                    <div class="right">
                        <div class="right-top">
                            <span>羽森</span>
                            <p>9.12</p>
                        </div>
                        <div class="right-bottom">
                            <span>[转账]向你转账222.00元</span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../img/friend_22.png" alt="">
                    <div class="right">
                        <div class="right-top">
                            <span>李义</span>
                            <p>9.12</p>
                        </div>
                        <div class="right-bottom">
                            <span>[转账]向你转账666.00元</span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../img/friend_24.png" alt="">
                    <div class="right">
                        <div class="right-top">
                            <span>芝麻信用</span>
                            <p>9.12</p>
                        </div>
                        <div class="right-bottom">
                            <span>[转账]向你转账43.00元</span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../img/friend_30.png" alt="">
                    <div class="right">
                        <div class="right-top">
                            <span>羽豪</span>
                            <p>9.12</p>
                        </div>
                        <div class="right-bottom">
                            <span>我是毛毛我最棒~</span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../img/friend_32.png" alt="">
                    <div class="right">
                        <div class="right-top">
                            <span>爱笑的龙猫</span>
                            <p>9.12</p>
                        </div>
                        <div class="right-bottom">
                            <span>[转账]向你转账8000.00元</span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../img/friend_34.png" alt="">
                    <div class="right">
                        <div class="right-top">
                            <span>田豆豆</span>
                            <p>9.12</p>
                        </div>
                        <div class="right-bottom">
                            <span>我通过了你的朋友验证，现在我们可以开始...</span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../img/friend_36.png" alt="">
                    <div class="right">
                        <div class="right-top">
                            <span>占志杰</span>
                            <p>9.12</p>
                        </div>
                        <div class="right-bottom">
                            <span>[转账]100000000.00元</span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../img/friend_34.png" alt="">
                    <div class="right">
                        <div class="right-top">
                            <span>支付助手</span>
                            <p>9.12</p>
                        </div>
                        <div class="right-bottom">
                            <span>付款成功</span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../img/friend_36.png" alt="">
                    <div class="right">
                        <div class="right-top">
                            <span>支付助手</span>
                            <p>9.12</p>
                        </div>
                        <div class="right-bottom">
                            <span>付款成功</span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../img/friend_38.png" alt="">
                    <div class="right">
                        <div class="right-top">
                            <span>支付助手</span>
                            <p>9.12</p>
                        </div>
                        <div class="right-bottom">
                            <span>付款成功</span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../img/friend_40.png" alt="">
                    <div class="right">
                        <div class="right-top">
                            <span>支付助手</span>
                            <p>9.12</p>
                        </div>
                        <div class="right-bottom">
                            <span>付款成功</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tips">

        </div>
        <div class="footer">
            <ul>
                <li><span>
                    <a href="../index.html">
                        <img src="../img/koubei_89.png" alt="首页">
                    </a>
                </span>
                    <!-- <p>首页</p> -->
                </li>
                <li><span>
                    <a href="./koubei.html">
                        <img src="../img/indeximg79.png" alt="口碑">
                    </a>
                </span>
                    <!-- <p>口碑</p> -->
                </li>
                <li><span>
                    <a href="./friend.html">
                        <img src="../img/friendimg_03.png" alt="朋友">
                    </a> 
                </span>
                    <!-- <p>朋友</p>  -->
                </li>
                <li><span>
                    <a href="./personal-center.html">
                        <img src="../img/koubei_95.png" alt="我的">
                    </a> 
                </span>
                    <!-- <p>我的</p> -->
                </li>
            </ul>
        </div>
    </div>


</body>

</html>