<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="applicable-device" content="pc,mobile" />
    <link rel="stylesheet" href="../css/koubei.css">
    <title>口碑</title>
</head>

<body>
    <div class="whole-bg">
        <!--顶部空白  -->
        <div class="blankbar"></div>
        <div class="header">
            <dl>
                <dd class="address">
                    <a href=""><img src="../img/koubei_03.png" alt=""></a>
                </dd>
                <dd class="search">
                    <a href=""><img src="../img/koubei_05.png" alt=""></a>
                </dd>
                <dd class="people">
                    <a href=""><img src="../img/koubei_07.png" alt=""></a>
                </dd>
            </dl>
        </div>
        <div class="content">
            <div class="slide">
                <a href=""><img src="../img/koubei_11.png" alt=""></a>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <a href=""><img src="../img/koubei_15.png" alt=""></a>
                    </li>
                    <li>
                        <a href=""><img src="../img/koubei_17.png" alt=""></a>
                    </li>
                    <li>
                        <a href=""><img src="../img/koubei_19.png" alt=""></a>
                    </li>
                    <li>
                        <a href=""><img src="../img/koubei_21.png" alt=""></a>
                    </li>
                    <li>
                        <a href=""><img src="../img/koubei_23.png" alt=""></a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href=""><img src="../img/koubei_30.png" alt=""></a>
                    </li>
                    <li>
                        <a href=""><img src="../img/koubei_31.png" alt=""></a>
                    </li>
                    <li>
                        <a href=""><img src="../img/koubei_32.png" alt=""></a>
                    </li>
                    <li>
                        <a href=""><img src="../img/koubei_33.png" alt=""></a>
                    </li>
                    <li>
                        <a href=""><img src="../img/koubei_35.png" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="koubei-life">
                <img src="../img/koubei_41.png" alt="口碑生活圈">
            </div>
            <div class="dapai">
                <img src="../img/koubei_44.png" alt="大牌快抢">
            </div>
            <div class="population-eye">
                <ul>
                    <li>
                        <a href=""><img src="../img/koubei_47.png" alt="人气眼"></a>
                    </li>
                </ul>
                <ul>
                    <li><span>每天7点、11点、17点、22点，准点抢红包哟~</span></li>
                </ul>
                <ul>
                    <li><img src="../img/koubei_51.png" alt=""></li>
                    <li><img src="../img/koubei_53.png" alt=""></li>
                </ul>
                <ul>
                    <li><img src="../img/koubei_57.png" alt=""></li>
                    <li><img src="../img/koubei_59.png" alt=""></li>
                    <li><img src="../img/koubei_61.png" alt=""></li>
                </ul>
            </div>
            <div class="top-list">
                <a href=""><img src="../img/koubei_65.png" alt=""></a>
            </div>
            <div class="foryou">
                <ul>
                    <li>
                        <a href=""><img src="../img/koubei_68.png" alt="为你定制"></a>
                    </li>
                </ul>
                <ul>
                    <li><span>Hi，早上好！为你提供一份周末的闲适时光</span></li>
                </ul>
                <ul>
                    <li>
                        <a href=""><img src="../img/koubei_72.png" alt="">
                            <span>元气早餐</span>
                        </a>
                    </li>
                    <li>
                        <a href=""><img src="../img/koubei_74.png" alt="">
                            <span>面包甜点</span>
                        </a>
                    </li>
                    <li>
                        <a href=""><img src="../img/koubei_76.png" alt="">
                            <span>朋友聚会</span>
                        </a>
                    </li>
                    <li>
                        <a href=""><img src="../img/koubei_78.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tips">
                <div class="list">
                    <img src="../img/koubei_85.png" alt="">
                </div>
                <div class="list">
                    <img src="../img/koubei_86.png" alt="">
                </div>
            </div>

            <div class="blank">

            </div>
        </div>

        <!--底部  -->
        <div class="footer">
            <ul>
                <li><span>
                    <a href="../index.html">
                        <img src="../img/koubei_89.png" alt="">
                    </a>
                </span>
                    <!-- <p>首页</p> -->
                </li>
                <li><span>
                    <a href="./koubei.html"> <img src="../img/koubei_91.png" alt=""></a>
                </span>
                    <!-- <p>口碑</p> -->
                </li>
                <li><span>
                    <a href="./friend.html"><img src="../img/koubei_93.png" alt=""></a> 
                </span>
                    <!-- <p>朋友</p>  -->
                </li>
                <li><span>
                    <a href="./personal-center.html"><img src="../img/koubei_95.png" alt=""></a> 
                </span>
                    <!-- <p>我的</p> -->
                </li>
            </ul>
        </div>
    </div>
</body>

</html>