<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="applicable-device" content="pc,mobile" />
    <link rel="stylesheet" href="../css/personal-center.css">
    <title>我的</title>
</head>

<body>
    <div class="whole-bg">
        <div class="blankbar"></div>
        <div class="top-bar">
            <a href="">我的</a>
            <span>设置</span>
        </div>
        <div class="header">
            <img src="../img/personallogo.png" alt="个人头像">
            <div class="name">
                <div class="left">
                    <div class="left-top">励强</div>
                    <div class="left-bottom">182****9663</div>
                </div>
                <div class="right">
                    <a href=""><img src="../img/personal05.png" alt="选项按钮"></a>
                </div>
            </div>
        </div>
        <div class="content">
            <ul>
                <li>
                    <a href=""><img src="../img/personal10.png" alt=""></a>
                    <div class="r">
                        <div class="r-top">
                            <span>蚂蚁会员</span>
                            <p>理财收益券限时兑<img src="../img/personal13.png" alt=""></p>
                        </div>
                        <div class="btn"><img src="../img/personal15.png" alt=""></div>
                    </div>
                </li>

                <!--  -->
                <div class="blank"></div>
                <!--  -->

                <li>
                    <a href=""><img src="../img/personal19.png" alt=""></a>
                    <div class="r">
                        <div class="r-top">
                            <span>账单</span>
                            <p></p>
                        </div>
                        <div class="btn"><img src="../img/personal15.png" alt=""></div>
                    </div>
                </li>
                <li>
                    <a href=""><img src="../img/personal21.png" alt=""></a>
                    <div class="r">
                        <div class="r-top">
                            <span>总资产</span>
                            <p>开启百万赔付保障</p>
                        </div>
                        <div class="btn"><img src="../img/personal15.png" alt=""></div>
                    </div>
                </li>

                <li>
                    <a href=""><img src="../img/personal23.png" alt=""></a>
                    <div class="r">
                        <div class="r-top">
                            <span>余额</span>
                            <p>520.1314 元</p>
                        </div>
                        <div class="btn"><img src="../img/personal15.png" alt=""></div>
                    </div>
                </li>
                <li>
                    <a href=""><img src="../img/personal25.png" alt=""></a>
                    <div class="r">
                        <div class="r-top">
                            <span>余额宝</span>
                            <p></p>
                        </div>
                        <div class="btn"><img src="../img/personal15.png" alt=""></div>
                    </div>
                </li>
                <li>
                    <a href=""><img src="../img/personal27.png" alt=""></a>
                    <div class="r">
                        <div class="r-top">
                            <span>银行卡</span>
                            <p></p>
                        </div>
                        <div class="btn"><img src="../img/personal15.png" alt=""></div>
                    </div>
                </li>
                <li>
                    <a href=""><img src="../img/personal29.png" alt=""></a>
                    <div class="r">
                        <div class="r-top">
                            <span>蚂蚁财富</span>
                            <p></p>
                        </div>
                        <div class="btn"><img src="../img/personal15.png" alt=""></div>
                    </div>
                </li>
                <div class="blank"></div>
                <li>
                    <a href=""><img src="../img/personal31.png" alt=""></a>
                    <div class="r">
                        <div class="r-top">
                            <span>芝麻信用</span>
                            <p></p>
                        </div>
                        <div class="btn"><img src="../img/personal15.png" alt=""></div>
                    </div>
                </li>
                <li>
                    <a href=""><img src="../img/personal33.png" alt=""></a>
                    <div class="r">
                        <div class="r-top">
                            <span>保险服务</span>
                            <p></p>
                        </div>
                        <div class="btn"><img src="../img/personal15.png" alt=""></div>

                    </div>
                </li>
                <li>
                    <a href=""><img src="../img/personal35.png" alt=""></a>
                    <div class="r">
                        <div class="r-top">
                            <span>花呗</span>
                            <p></p>
                        </div>
                        <div class="btn"><img src="../img/personal15.png" alt=""></div>
                    </div>
                </li>
                <li>
                    <a href=""><img src="../img/personal37.png" alt=""></a>
                    <div class="r">
                        <div class="r-top">
                            <span>网商银行</span>
                            <p></p>
                        </div>
                        <div class="btn"><img src="../img/personal15.png" alt=""></div>
                    </div>
                </li>
                <div class="blank"></div>
                <li>
                    <a href=""><img src="../img/personal39.png" alt=""></a>
                    <div class="r">
                        <div class="r-top">
                            <span>爱心捐赠</span>
                            <p></p>
                        </div>
                        <div class="btn"><img src="../img/personal15.png" alt=""></div>
                    </div>
                </li>
                <li>
                    <a href=""><img src="../img/personal41.png" alt=""></a>
                    <div class="r">
                        <div class="r-top">
                            <span>娱乐宝</span>
                            <p></p>
                        </div>
                        <div class="btn"><img src="../img/personal15.png" alt=""></div>
                    </div>
                </li>
                <div class="blank"></div>
                <div class="blank"></div>
                <div class="blank"></div>
                <div class="blank"></div>
            </ul>
        </div>
        <div class="tips">

        </div>
        <div class="footer">
            <ul>
                <li><span>
                    <a href="../index.html">
                        <img src="../img/koubei_89.png" alt="首页">
                    </a>
                </span>
                    <!-- <p>首页</p> -->
                </li>
                <li><span>
                    <a href="./koubei.html">
                        <img src="../img/indeximg79.png" alt="口碑">
                    </a>
                </span>
                    <!-- <p>口碑</p> -->
                </li>
                <li><span>
                     <a href="./friend.html">
                        <img src="../img/indeximg82.png" alt="朋友">
                    </a> 
                </span>
                    <!-- <p>朋友</p>  -->
                </li>
                <li><span>
                    <a href="./personal-center.html">
                        <img src="../img/personal03.png" alt="我的">
                    </a> 
                </span>
                    <!-- <p>我的</p> -->
                </li>
            </ul>
        </div>

    </div>


</body>

</html>